.map-section {
  height: 475px;
  display: flex;
  justify-content: space-evenly;
  background-image: url(./../../images/map-background.jpg);
  background-repeat: no-repeat;
  div {
    display: flex;
    align-items: center;
    ul {
      list-style: none;
      h2 {
        padding-bottom: 60px;
      }
      li {
        font-family: "obi-bold", "Helvetica", "Arial", sans-serif;
        font-size: 20px;
        padding-bottom: 30px;
        p {
          display: flex;
          align-items: center;
        }
        p::before {
          content: url(../../images/pointer.png);
          width: 20px;
          height: 30px;
          padding-right: 20px;
        }
      }
    }
  }
  .map {
    height: 405px;
    width: 405px;
    background-image: url(../../images/mapa.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }
  .point::before {
    content: url(../../images/pointer.png);
    width: 28px;
    height: 60px;
    position: absolute;
  }
  .point1::before {
    left: 168px;
    top: 0px;
  }
  .point2::before {
    left: 230px;
    top: 45px;
  }
  .point3::before {
    right: 45px;
    bottom: 125px;
  }
  .point4::before {
    left: 224px;
    bottom: 43px;
  }
}

@media (max-width: 992px) {
  .map-section {
    height: auto;
    flex-direction: column;
    align-items: center;

    div {
      justify-content: center;
    }
  }
}
