$white: #fff;
$black: #000;
$orange: #ff7e21;
$grey: #ebebeb;

@font-face {
  font-family: "obi-black";
  src: url("../../fonts/OBISANSML-BLACK.OTF");
}
@font-face {
  font-family: "obi-bold";
  src: url("../../fonts/OBISANSML-BOLD.OTF");
}
@font-face {
  font-family: "obi-regular";
  src: url("../../fonts/OBISANSML-REGULAR.OTF");
}
